@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root {
    --header-heigth: 3rem;

    /* Colors */

    --first-color: #000000;
    --first-color-light: #888888;
    --dark-color: #000000;
    --white-color: #fff;

    /* Font */

    --body-font: 'Poppins', sans-serif;
    --nav-name-font-size: 1.5rem;
    --normal-font-size: .938rem;

    /* z-index */

    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root {
        --nav-name-font-size: 1rem;
        --normal-font-size: 1rem;
    }
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: var(--header-heigth) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-heigth);
    padding: 0 1rem;
    background-color: var(--first-color);
    z-index: var(--z-fixed);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.header_logo {
    color: var(--white-color);
}

.header_toggle {
    color: var(--white-color);
    font-size: 1.7rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--dark-color);
        width: 80%;
        height: 100vh;
        padding: 2rem 0;
        z-index: var(--z-fixed);
        transition: .5s;
        overflow-y: auto;
    }
}

.nav_content {
    display: flex;
    flex-direction: column;
}

.nav_perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.nav_img {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 60px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.nav_img img {
    border: none;
    width: 90px;
}

.nav_name {
    display: block;
    font-size: var(--nav-name-font-size);
    color: var(--white-color);
}

.nav_item {
    margin-bottom: 2rem;
}

.nav_link {
    color: var(--first-color-light);
}

.nav_link:hover {
    color: var(--white-color);
}

/* Show menu */

.show {
    left: 0;
}

/* Active Link */

.active {
    color: var(--white-color);
}

/* Dropdown */

.dropdown_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown_icon {
    font-size: 1.3em;
    transition: .5s;
}

.dropdown_menu {
    margin: 1rem 0 0 1rem;
    display: none;
}

.dropdown_item {
    margin: 1rem 0;
}

.dropdown:hover > .dropdown_menu {
    display: block;
}

.dropdown:hover .dropdown_icon {
    transform: rotate(180deg);
}

img {
    width: 30px;
    border: 1px solid black;
}

table {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    height: 100vh;
    width: 91%;
    border-collapse: collapse;
    background-color: rgb(59, 59, 59);
    color: black;
}

caption {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 1.2em;
    border-bottom: 1px solid black;
}

tr {
    border-bottom: 1px solid black;
    background-color: white;
}

th {
    padding: 10px;
}

#footer-container p {
    padding: 10px;
    margin: 0px;
    color: var(--white-color);
    background-color: var(--first-color);
    text-align: center;
}

/* Media Queries */

@media screen and (min-width: 576px) {
    .nav {
        width: 288px;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .header {
        position: relative;
        height: calc(var(--header-height) + 1rem);
    }

    .header_logo, .header_toggle {
        display: none;
    }

    .nav {
        width: 100%;
        font-size: 1.1em;
    }

    .nav_content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav_perfil {
        flex-direction: row;
        text-align: initial;
        margin-bottom: 0;
    }

    .nav_img {
        margin-right: .5rem;
        margin-bottom: -10px;
    }

    .nav_img img {
        width: 70px;
        height: 50px;
    }

    .nav_name {
        color: var(--white-color);
        font-size: 1.1em;
    }

    .nav_list {
        display: flex;
        align-items: center;
    }

    .nav_item {
        margin: 0 1.5rem;
        padding: 1.4rem 0;
    }

    .nav_link {
        color: var(--white-color);
    }

    .nav_link:hover {
        color: var(--first-color-light);
    }

    .active {
        color: var(--white-color);
    }

    .dropdown {
        position: relative;
    }

    .dropdown_menu {
        height: 100vh;
        overflow-y: auto;
        position: absolute;
        margin-top: 22px;
        top: calc(var(--header-height) + 1rem);
        left: -50%;
        padding: .5rem 1.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        background-color: var(--dark-color);
    }

    .dropdown_item {
        margin: 1.1rem 0;
    }

    table {
        margin: auto;
        margin-top: 60px;
        margin-bottom: 80px;
        text-align: center;
        height: 100vh;
        width: 80%;
        border-collapse: collapse;
        background-color: rgb(59, 59, 59);
        color: black;
    }
    
    caption {
        padding-bottom: 20px;
        font-size: 1.2em;
        border-bottom: 1px solid black;
    }
    
    tr {
        border-bottom: 1px solid black;
        background-color: white;
    }
    
    th {
        padding: 10px;
        
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}